name = "yoyo-streaming-simple"
main = "src/index.js"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[env.production]
name = "yoyo-streaming-worker-production"
route = { pattern = "yoyoapi.5202021.xyz/*", zone_name = "5202021.xyz" }

[env.production.vars]
ENVIRONMENT = "production"
VERSION = "2.0.0"
VPS_API_URL = "https://yoyo-vps.5202021.xyz"
VPS_API_KEY = "85da076ae24b028b3d1ea1884e6b13c5afe34488be0f8d39a05fbbf26d23e938"

[[env.production.kv_namespaces]]
binding = "YOYO_USER_DB"
id = "edafbcf1042147f9b52f0fc4b5c37543"

[env.development]
name = "yoyo-streaming-simple-dev"

[env.development.vars]
ENVIRONMENT = "development"
VERSION = "2.0.0"
